services:
  integration-tests:
    env_file:
      - .env
    build: .
    volumes:
      - .:/app
    command: ["./scripts/start-tests.sh"]

  lint-formatter:
    env_file:
      - .env
    build: .
    volumes:
      - .:/app
    command: ["./scripts/start-formatter-lint.sh"]